@{
    ViewData["Title"] = "BlogListExcel";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>BlogListExcel</h1>
<br />
<button class="btn btn-primary" onclick="DownLoadExcelBlogList()">Excel Listesini İndir</button>

<script>
    function DownLoadExcelBlogList() {
        window.open("/Admin/Blog/ExportStaticExcelBlogList");
    }
</script>